<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 어디를 통해서 들어오는지! -->
<mapper namespace="com.multi.mapper.CartMapper">
	<select id="select" parameterType="Integer" resultType="CartDTO">
		<!-- 가져올 때 column명을 다르게 해서 가져와야함!!! -->
		<!-- 상세조회 -->
		SELECT ca.cartid, ca.userid, c.username As user_name, ca.itemid, i.itemname AS item_name, i.itemprice AS item_price, ca.amount, (ca.amount * i.itemprice) AS total_price
		FROM cart ca
		INNER JOIN item i ON ca.itemid = i.itemid
		INNER JOIN cust c ON ca.userid = c.userid
		WHERE ca.cartid=#{cartid}
	</select>
	<!-- <select id="selectall" resultType="CartDTO">
		SELECT ca.id, ca.user_id, c.name AS cust_name,ca.item_id, i.name AS item_name, i.price, ca.cnt, i.price*ca.cnt AS total_price, ca.rdate FROM cart ca
		INNER JOIN cust c ON c.id=ca.user_id
		INNER JOIN item i ON i.id=ca.item_id
</select> -->
	<!-- 사용자의 cart정보를 가져와라 -->
	<select id="usercart" parameterType="String" resultType="CartDTO">
		SELECT ca.cartid, ca.userid, c.username As user_name, ca.itemid, i.itemname AS item_name, i.itemprice AS item_price, ca.amount, (ca.amount * i.itemprice) AS total_price
		FROM cart ca
		INNER JOIN item i ON ca.itemid = i.itemid
		Inner JOIN cust c ON ca.userid = c.userid
		<!-- parameter type이 고려되는 부분 -->
		WHERE ca.userid=#{userid}
	</select>
	<!-- id,pwd를 끄집어낼 때는 get,set으로 입력받고 나오게 될것 -->
	<!-- id는 자동증가이므로 sql과 맞게 null,sysdate로! -->
	<insert id="insert" parameterType="CartDTO">
		INSERT INTO cart VALUES (NULL,#{userid},#{itemid},#{amount})
	</insert>
	<!-- date는 수정 불가 -->
	<!-- id를 기준으로 item_id, cnt를 수정할 수 있다. -->
	<update id="update" parameterType="CartDTO">
		UPDATE cart SET itemid=#{itemid}, amount=#{amount} WHERE cartid=#{cartid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cartid=#{cartid}
	</delete>
	
</mapper>