<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ItemMapper">
	
	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT it.itemid, it.cateid, it.itemname, it.itemprice, it.size, it.color, it.itemstatus, ca.catename AS cate_name 
		FROM item it
		INNER JOIN cate ca ON it.cateid = ca.cateid
		WHERE it.itemid = #{itemid}
	</select>
	<select id="selectall" resultType="itemDTO">
		SELECT it.itemid, it.cateid, it.itemname, it.itemprice, it.size, it.color, it.itemstatus, ca.catename AS cate_name 
		FROM item it
		INNER JOIN cate ca ON it.cateid = ca.cateid
		
	</select>
	<insert id="insert" parameterType="itemDTO">
		INSERT INTO item VALUES (NULL,#{cateid},#{itemname},#{itemprice},#{size}, #{color},#{itemstatus})
	</insert>
	<update id="update" parameterType="itemDTO">
		UPDATE item SET itemname=#{itemname},itemprice=#{itemprice},size=#{size},color=#{color}, itemstatus=#{itemstatus} WHERE itemid=#{itemid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE itemid=#{itemid}
	</delete>
	
</mapper>